<?xml version="1.0" encoding="UTF-8"?>
<root>
    <name>GLPI Typebot Chat</name>
    <key>glpitypebotchat</key>
    <state>stable</state>
    <logo>https://raw.githubusercontent.com/seu-usuario/glpitypebotchat/main/pics/logo.png</logo>
    <description>
        <short>
            <pt_BR>Plugin para integração do Typebot com GLPI</pt_BR>
        </short>
        <long>
            <pt_BR>Este plugin permite a integração do Typebot com o GLPI, adicionando um chat interativo na interface.</pt_BR>
        </long>
    </description>
    <homepage>https://github.com/seu-usuario/glpitypebotchat</homepage>
    <download>https://github.com/seu-usuario/glpitypebotchat/releases</download>
    <issues>https://github.com/seu-usuario/glpitypebotchat/issues</issues>
    <readme>https://github.com/seu-usuario/glpitypebotchat/blob/main/README.md</readme>
    <authors>
        <author>Seu Nome</author>
    </authors>
    <versions>
        <version>
            <num>1.0.0</num>
            <compatibility>10.0.x</compatibility>
        </version>
    </versions>
    <langs>
        <lang>pt_BR</lang>
    </langs>
    <license>GPL v3+</license>
    <tags>
        <pt_BR>
            <tag>Chat</tag>
            <tag>Typebot</tag>
            <tag>Suporte</tag>
        </pt_BR>
    </tags>
</root> 